/* ARPage.css */

.ar-scene {
  position: relative;
  height: 100svh;
  max-height: 100svh;
  width: 100%;
}

.ar-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100svh;
  object-fit: cover;
}

.content-notif {
  position: absolute;
  top: 60px;
  width: calc(100% - 32px);
  z-index: 2;
  margin-left: 16px;
  margin-right: 16px;
}

.ar-focus-box {
  position: absolute;
  top: 35%;
  left: 25%;
  width: 50%;
  height: 30%;
  border: 3px solid white;
  border-radius: 12px;
  z-index: 2;
}

.ar-capture-button {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.ar-top-buttons {
  position: absolute;
  padding: 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 3;
  top: 0;
}

.ar-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}