.poll-results-page {
  background-image: url("../../assets/poll-bg.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;

  background-position: center center;
  background-size: cover;
  height: 100vh;
}
