.slider-page {
    background-image: url('../../assets/slider-zebra.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.slider-page-end {
    background-image: url('../../assets/sliderEnd-bg.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.top-buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px;
    z-index: 2;
    margin-top: 45px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: center;
    color: var(--wheat-500);
}

.big-text {
    font-size: 60px;
    font-family: "Averia Serif Libre", serif;
    color: var(--wheat-500);
}