.story-scroll-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  scroll-snap-type: x mandatory;
  scroll-padding-inline-start: 16px;
  scroll-padding-inline-end: 16px;
  padding-top: 26px;
  padding-left: 48px;
  padding-right: 48px;
}

.story-scroll-container > * {
  flex-shrink: 0;
}

.story-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.story-scroll-container > :first-child {
  scroll-snap-align: start;
}

.story-scroll-container > :last-child {
  scroll-snap-align: end;
}

.upcoming-events-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-shrink: 0;
}

.useful-links-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}