.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: color(from var(--brown-850) srgb r g b/0.5);
  backdrop-filter: blur(4px);
}

.back-arrow {
  width: 24px;
  height: 24px;
  padding: 4px;
  transform: rotate(180deg);
  color: white;
}