.continue-button {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--moss-300);
  border: none;
  border-radius: 100px;
  
  bottom: 12px;
  right: 18px;

  margin-right: 0;
  margin-left: auto;
}

.arrow {
  color: white;
}
