.cutout-wrapper {
  width: 400px;
  height: 200px;
  margin: auto;
  position: relative;
  overflow: visible; /* important: this parent can overflow */
}

.cutout-body {
  width: 100%;
  height: 100%;
  background: red;
  position: absolute;
  top: 0;
  }

.cutout-profile {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}